body {
  background: linear-gradient(
    179.1deg,
    rgb(43, 170, 96) 2.3%,
    rgb(129, 204, 104) 98.3%
  );
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
p {
  font-size: 12px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.5;
}
.climateChange {
  max-width: 600px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
}
button {
  display: block;
  text-decoration: none;
  color: #085f63;
  margin: 0 auto;
  background: #a3de83;
  font-size: 15px;
  padding: 10px 15px;
  border: none;
  border-color: #a1dd70;
  border-style: double;
  border-radius: 4px;
  box-shadow: 5px 5px 10px rgba(23, 145, 33, 0.3);
  transition: all 200ms ease-in-out;
}

button:hover {
  cursor: pointer;
  background: #2eb872;
  color: azure;
}
footer {
  text-align: center;
  font-size: 11px;
  font-style: italic;
  line-height: 2.5;
}
.theme-button {
  font-size: 12px;
  background-color: black;
  color: #2eb872;
  padding: 5px 8px;
}
.theme-button:hover {
  background: whitesmoke;
  color: black;
  cursor: pointer;
}
.linkUN a {
  text-decoration: none;
  color: #085f63;
}
.linkUN a:hover {
  cursor: pointer;
  color: whitesmoke;
  text-decoration: underline;
}
.climate-main-picture {
  border-radius: 15px;
  transition: all 500ms ease-in-out;
  width: 100%;
  margin: 0 auto;
}
.climate-main-picture:hover {
  filter: contrast(50%);
  transform: scale(1.2);
}
.climate-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}
.climate-grid img {
  width: 100%;
  border-radius: 10px;
  transition: all 500ms ease-in-out;
}
.climate-grid img:hover {
  transform: scale(1.5);
}
.climate {
  background: linear-gradient(
    114.3deg,
    rgb(19, 126, 57) 0.2%,
    rgb(8, 65, 91) 68.5%
  );
  color: whitesmoke;
}
.climate .climateChange {
  background: #259073;
}

.climate a {
  color: #041122;
}
